*{
  margin: 0%;
  padding: 0%;
}


.header{background-color: brown;
  padding-right: 9%;
  position: fixed;
  padding-bottom: 10%;
  padding-top: 8%;

}

.div1{
  padding-left: 5%;

  &__div2{

    color: white;
    text-align: center;


  }

  .nav{
    display: flex;
   justify-content: center;
   padding-left: 45%;
  
    &__ul{

      list-style: none;

      &__li{
        padding: 40%;

        &__a{
          text-decoration: none;
          color: white;
        }
      }
    }

  }
}

.background-img{
 width: 85%;
 height: 20%;
 margin-left: 14.8%;
 margin-bottom: 50%;
 background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,77,121,1) 35%, rgba(0,212,255,1) 100%);
  color: white;

 position: absolute;

  &__p{
       
    width: 100%;
    height: 50%;
   
    padding-top: 3%;
    padding-left: 5%;
    display: flex;
    justify-content: start;
    

    &__t{
     text-align: center;
     padding-left: 5%;
    }
     
  
    
  }
}

.section2{
  position: absolute;
  margin-left: 15%;
  margin-top: 10%;
}

.S2-div{

  &__div1{
   
    margin: 4%;
    text-align: justify;

    &__h2{
      color: rgb(20, 20, 154);
      text-decoration: underline;
      
      text-decoration-style:solid;
      text-decoration-color: rgb(179, 21, 53);

    }
    &__p{
      padding-top: 2%;

     
    }
  }

  &__div2{
    display: flex;
    justify-content: center;
    align-items: center;

    &__img{
      width: 80%;
      height: 80%;
      padding: 5%;
      
      &__img{
        width: 250px;
        height: 290px;
        border-radius: 50%;
      }
    }

    &__tex{

      padding: 2%;
      padding-left: 0%;
      line-height: 200%;
      text-align: justify;

      &__tex-h2{
        color: rgb(20, 20, 154);
      }

      &__tex2{

        &__ul{
         
          &__ul{
            list-style: none;
            &__li{
              padding: 0.5%;
              color: rgb(20, 20, 154);
              &__span{
                margin-left: 2%;
                color: black;
              }

            }
          }
        }
      }

    }


  }
}

.section3{
  position: absolute;
  margin-left: 15%;
  margin-top: 60%;

}

.S3-div{
  padding: 5%;

  &__div2{
    display: flex;
    justify-content: center;
    padding: 5%;
    gap: 10%;
    &__ul{

      &__ul{
       list-style: none;
       &__li{
        padding: 5%;
       }
      }
    }
  }

}

.section4{
  position: absolute;
  margin-left: 17%;
  margin-top: 100%;
  padding: 2%;
  padding-top: 0;

  &__head{
    text-align: justify;
    padding-bottom: 5%;

    &__h2{
      
      color: rgb(20, 20, 154);
      text-decoration: underline;
      text-decoration-color: rgb(179, 21, 53);;
    }

    &__h2--cursive{
      text-align: center;
      color: rgb(20, 20, 154);
      padding: 1%;
      font-style: italic;
    }
  }


}

.div-principal{
  display: flex;
  padding-left: 5%;
  gap: 15%;

  &__resume1{
     

    &__h2 {
      text-align: center;
      color: rgb(20, 20, 154);
    }

    &__div1 {
      padding: 5%;
      

      &__h3{
        font-size:larger;
        color: rgb(154, 20, 74);
      }
      
      &__h4{
        font-size:medium;
        text-align: center;
        background-color: bisque;
        font-style: italic;
        width: 30%;
        padding: 1%;
        margin: 2%;
      }

      &__p{
        font-size:medium;
       
      }
    }

    &__div2 {
      padding: 2%;
      
      &__h3{
        font-size:larger;
        padding: 2%;
        color: rgb(154, 20, 74);
      }
      
      &__h4{
        font-size:medium;
        text-align: center;
        background-color: bisque;
        font-style: italic;
        width: 30%;
        padding: 1%;
        margin: 2%;
        margin-left: 3%;
        
      }

      &__p{
        padding: 2%;
      }
    }
    &__div3 {
      padding: 2%;
      
      &__h3{
        font-size:large; 
        padding: 2%;
        color: rgb(154, 20, 74);
      }
      
      &__h4{
        font-size:medium;
        text-align: center;
        background-color: bisque;
        font-style: italic;
        width: 30%;
        padding: 1%;
        margin: 2%;
      }

      &__p{
        padding: 2%;
      }
    }
    &__div4 {
      padding: 2%;
      
      &__h3{
        font-size:large;
        padding: 2%;
        color: rgb(154, 20, 74);
      }
      
      &__h4{
        font-size:medium;
        text-align: center;
        background-color: bisque;
        font-style: italic;
        width: 30%;
        padding: 1%;
        margin: 2%;
      }

      &__p{
        padding: 2%;
      }
    }
  
  }

  &__resume2{

    &__h2{
      
      text-align: center;
      color: rgb(20, 20, 154);

    }

    &__div1{


      &__h3{
        font-size:large;
        padding-top: 3%;
        color: rgb(154, 20, 74);
      }
      
      &__h4{
        font-size:medium;
        text-align: center;
        background-color: bisque;
        font-style: italic;
        width: 35%;
        padding: 1%;
        margin: 1%;
        
      }

      &__p{
        
        font-weight: 700;
        font-style: italic;
      }


    }

    &__div2{


      &__h3{
        font-size:large;
        padding-top: 5%;
        color: rgb(154, 20, 74);
      }
      
      &__h4{
        font-size:medium;
        text-align: center;
        background-color: bisque;
        font-style: italic;
        width: 25%;
        padding: 1%;
        margin: 1%;
        
      }

      &__p{
        padding: 1%;
        font-weight: 700;
        font-style: italic;
      }



    }
    &__div3{


      &__h3{
        font-size:large;
        padding-top: 5%;
        color: rgb(154, 20, 74);
      }
      
      &__h4{
        font-size:medium;
        text-align: center;
        background-color: bisque;
        font-style: italic;
        width: 25%;
        padding: 1%;
        margin: 1%;
        
      }

      &__p{
        padding: 1%;
        font-weight: 700;
        font-style: italic;
      }



    }
    &__div4{


      &__h3{
        font-size:large;
        padding-top: 5%;
        color: rgb(154, 20, 74);
      }
      
      &__h4{
        font-size:medium;
        text-align: center;
        background-color: bisque;
        font-style: italic;
        width: 25%;
        padding: 1%;
        margin: 1%;
        
      }

      &__p{
        padding: 1%;
        font-weight: 700;
        font-style: italic;
      }


    }


  }


}

.section5{
  position: absolute;
  margin-left: 17%;
  margin-top: 200%;
  padding: 2%;
  padding-top: 0;

  &__div-principal{
    &__div1{
      &__h2{
        color: rgb(20, 20, 154);
      text-decoration: underline;
      
      text-decoration-style:solid;
      text-decoration-color: rgb(179, 21, 53);
        
      }
    }
  }
}


.cards, .web, .Blog{
  display: flex;
 gap: 5%;
}

.section6{
  position: absolute;
  margin-left: 17%;
  margin-top: 300%;
  padding: 2%;
  padding-top: 0;

  &__div-principal1 {

    &__div1__h2{
      color: rgb(20, 20, 154);
      text-decoration: underline;
      
      text-decoration-style:solid;
      text-decoration-color: rgb(179, 21, 53);
    }

    &__div2 {

      display: flex;
      padding-top: 6%; 
      &__divI{
        width: 50%;
       padding-left: 6%;
       
        
      }
    }
  }

}

.img--strong{
  color: rgb(20, 20, 154);
}

form{
  width: 45%;
}









