* {
  margin: 0%;
  padding: 0%;
}

.header {
  background-color: brown;
  padding-right: 9%;
  position: fixed;
  padding-bottom: 10%;
  padding-top: 8%;
}

.div1 {
  padding-left: 5%;
}
.div1__div2 {
  color: white;
  text-align: center;
}
.div1 .nav {
  display: flex;
  justify-content: center;
  padding-left: 45%;
}
.div1 .nav__ul {
  list-style: none;
}
.div1 .nav__ul__li {
  padding: 40%;
}
.div1 .nav__ul__li__a {
  text-decoration: none;
  color: white;
}

.background-img {
  width: 85%;
  height: 20%;
  margin-left: 14.8%;
  margin-bottom: 50%;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 77, 121) 35%, rgb(0, 212, 255) 100%);
  color: white;
  position: absolute;
}
.background-img__p {
  width: 100%;
  height: 50%;
  padding-top: 3%;
  padding-left: 5%;
  display: flex;
  justify-content: start;
}
.background-img__p__t {
  text-align: center;
  padding-left: 5%;
}

.section2 {
  position: absolute;
  margin-left: 15%;
  margin-top: 10%;
}

.S2-div__div1 {
  margin: 4%;
  text-align: justify;
}
.S2-div__div1__h2 {
  color: rgb(20, 20, 154);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: rgb(179, 21, 53);
}
.S2-div__div1__p {
  padding-top: 2%;
}
.S2-div__div2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.S2-div__div2__img {
  width: 80%;
  height: 80%;
  padding: 5%;
}
.S2-div__div2__img__img {
  width: 250px;
  height: 290px;
  border-radius: 50%;
}
.S2-div__div2__tex {
  padding: 2%;
  padding-left: 0%;
  line-height: 200%;
  text-align: justify;
}
.S2-div__div2__tex__tex-h2 {
  color: rgb(20, 20, 154);
}
.S2-div__div2__tex__tex2__ul__ul {
  list-style: none;
}
.S2-div__div2__tex__tex2__ul__ul__li {
  padding: 0.5%;
  color: rgb(20, 20, 154);
}
.S2-div__div2__tex__tex2__ul__ul__li__span {
  margin-left: 2%;
  color: black;
}

.section3 {
  position: absolute;
  margin-left: 15%;
  margin-top: 60%;
}

.S3-div {
  padding: 5%;
}
.S3-div__div2 {
  display: flex;
  justify-content: center;
  padding: 5%;
  gap: 10%;
}
.S3-div__div2__ul__ul {
  list-style: none;
}
.S3-div__div2__ul__ul__li {
  padding: 5%;
}

.section4 {
  position: absolute;
  margin-left: 17%;
  margin-top: 100%;
  padding: 2%;
  padding-top: 0;
}
.section4__head {
  text-align: justify;
  padding-bottom: 5%;
}
.section4__head__h2 {
  color: rgb(20, 20, 154);
  text-decoration: underline;
  text-decoration-color: rgb(179, 21, 53);
}
.section4__head__h2--cursive {
  text-align: center;
  color: rgb(20, 20, 154);
  padding: 1%;
  font-style: italic;
}

.div-principal {
  display: flex;
  padding-left: 5%;
  gap: 15%;
}
.div-principal__resume1__h2 {
  text-align: center;
  color: rgb(20, 20, 154);
}
.div-principal__resume1__div1 {
  padding: 5%;
}
.div-principal__resume1__div1__h3 {
  font-size: larger;
  color: rgb(154, 20, 74);
}
.div-principal__resume1__div1__h4 {
  font-size: medium;
  text-align: center;
  background-color: bisque;
  font-style: italic;
  width: 30%;
  padding: 1%;
  margin: 2%;
}
.div-principal__resume1__div1__p {
  font-size: medium;
}
.div-principal__resume1__div2 {
  padding: 2%;
}
.div-principal__resume1__div2__h3 {
  font-size: larger;
  padding: 2%;
  color: rgb(154, 20, 74);
}
.div-principal__resume1__div2__h4 {
  font-size: medium;
  text-align: center;
  background-color: bisque;
  font-style: italic;
  width: 30%;
  padding: 1%;
  margin: 2%;
  margin-left: 3%;
}
.div-principal__resume1__div2__p {
  padding: 2%;
}
.div-principal__resume1__div3 {
  padding: 2%;
}
.div-principal__resume1__div3__h3 {
  font-size: large;
  padding: 2%;
  color: rgb(154, 20, 74);
}
.div-principal__resume1__div3__h4 {
  font-size: medium;
  text-align: center;
  background-color: bisque;
  font-style: italic;
  width: 30%;
  padding: 1%;
  margin: 2%;
}
.div-principal__resume1__div3__p {
  padding: 2%;
}
.div-principal__resume1__div4 {
  padding: 2%;
}
.div-principal__resume1__div4__h3 {
  font-size: large;
  padding: 2%;
  color: rgb(154, 20, 74);
}
.div-principal__resume1__div4__h4 {
  font-size: medium;
  text-align: center;
  background-color: bisque;
  font-style: italic;
  width: 30%;
  padding: 1%;
  margin: 2%;
}
.div-principal__resume1__div4__p {
  padding: 2%;
}
.div-principal__resume2__h2 {
  text-align: center;
  color: rgb(20, 20, 154);
}
.div-principal__resume2__div1__h3 {
  font-size: large;
  padding-top: 3%;
  color: rgb(154, 20, 74);
}
.div-principal__resume2__div1__h4 {
  font-size: medium;
  text-align: center;
  background-color: bisque;
  font-style: italic;
  width: 35%;
  padding: 1%;
  margin: 1%;
}
.div-principal__resume2__div1__p {
  font-weight: 700;
  font-style: italic;
}
.div-principal__resume2__div2__h3 {
  font-size: large;
  padding-top: 5%;
  color: rgb(154, 20, 74);
}
.div-principal__resume2__div2__h4 {
  font-size: medium;
  text-align: center;
  background-color: bisque;
  font-style: italic;
  width: 25%;
  padding: 1%;
  margin: 1%;
}
.div-principal__resume2__div2__p {
  padding: 1%;
  font-weight: 700;
  font-style: italic;
}
.div-principal__resume2__div3__h3 {
  font-size: large;
  padding-top: 5%;
  color: rgb(154, 20, 74);
}
.div-principal__resume2__div3__h4 {
  font-size: medium;
  text-align: center;
  background-color: bisque;
  font-style: italic;
  width: 25%;
  padding: 1%;
  margin: 1%;
}
.div-principal__resume2__div3__p {
  padding: 1%;
  font-weight: 700;
  font-style: italic;
}
.div-principal__resume2__div4__h3 {
  font-size: large;
  padding-top: 5%;
  color: rgb(154, 20, 74);
}
.div-principal__resume2__div4__h4 {
  font-size: medium;
  text-align: center;
  background-color: bisque;
  font-style: italic;
  width: 25%;
  padding: 1%;
  margin: 1%;
}
.div-principal__resume2__div4__p {
  padding: 1%;
  font-weight: 700;
  font-style: italic;
}

.section5 {
  position: absolute;
  margin-left: 17%;
  margin-top: 200%;
  padding: 2%;
  padding-top: 0;
}
.section5__div-principal__div1__h2 {
  color: rgb(20, 20, 154);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: rgb(179, 21, 53);
}

.cards, .web, .Blog {
  display: flex;
  gap: 5%;
}

.section6 {
  position: absolute;
  margin-left: 17%;
  margin-top: 300%;
  padding: 2%;
  padding-top: 0;
}
.section6__div-principal1__div1__h2 {
  color: rgb(20, 20, 154);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: rgb(179, 21, 53);
}
.section6__div-principal1__div2 {
  display: flex;
  padding-top: 6%;
}
.section6__div-principal1__div2__divI {
  width: 50%;
  padding-left: 6%;
}

.img--strong {
  color: rgb(20, 20, 154);
}

form {
  width: 45%;
}

/*# sourceMappingURL=style.css.map */
